
{% extends "base.html" %} <!--继承base.html-->
{% import "bootstrap/wtf.html" as wtf %} <!--进行表单渲染-->

{% block title %}Flasky{% endblock %}

<!--current_user.is_authenticated判断用户是否已经登陆-->
{% block page_content %}
<div class="page-header">
	<h1>
		hello,
	    {% if current_user.is_authenticated %}
	    	{{ current_user.username }}
	    {% else %}
	    	Stranger
	    {% endif %}	
    </h1>
</div>
{% endblock %}
<!--format('LLL')根据客户端电脑中的时区和区域设置渲染时期和时间，参数决定渲染方式，L到LLL分别对应不同的复杂度-->
<!--fromNow()渲染相对时间戳.指定refresh后，如果一直呆在这个页面，会看到显示的文本变成a minute ago，2 minutes ago-->